<a href="https://colab.research.google.com/github/danieljjh/yf-stk/blob/main/yf.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import yfinance as yf
import pandas as pd
import json
import datetime as dt

In [ ]:
tk = yf.Ticker('msft')
tk.history()

,Open,High,Low,Close,Volume,Dividends,Stock Splits
Date,,,,,,,
2022-02-16,NaN,NaN,NaN,NaN,NaN,0.62,0
2022-02-17,296.359985,296.799988,290.000000,290.730011,32461600.0,0.00,0
2022-02-18,293.049988,293.859985,286.309998,287.929993,34264000.0,0.00,0
2022-02-22,285.000000,291.540009,284.500000,287.720001,41736100.0,0.00,0
2022-02-23,290.179993,291.700012,280.100006,280.269989,37811200.0,0.00,0
2022-02-24,272.510010,295.160004,271.519989,294.589996,56989700.0,0.00,0
2022-02-25,295.140015,297.630005,291.649994,297.309998,32546700.0,0.00,0
2022-02-28,294.309998,299.140015,293.000000,298.790009,34585700.0,0.00,0
2022-03-01,296.399994,299.970001,292.149994,294.950012,31217800.0,0.00,0
2022-03-02,295.359985,301.470001,293.700012,300.190002,31873000.0,0.00,0
2022-03-03,302.890015,303.130005,294.049988,295.920013,27314500.0,0.00,0
2022-03-04,294.290009,295.660004,287.170013,289.859985,32356500.0,0.00,0
2022-03-07,288.529999,289.690002,278.529999,278.910004,43157200.0,0.00,0
2022-03-08,277.799988,283.959991,270.000000,275.850006,48159500.0,0.00,0
2022-03-09,283.440002,289.600006,280.779999,288.500000,35204500.0,0.00,0
2022-03-10,283.019989,286.600006,280.579987,285.589996,30628000.0,0.00,0
2022-03-11,287.959991,289.510010,279.429993,280.070007,27192600.0,0.00,0
2022-03-14,280.339996,285.399994,275.820007,276.440002,30660700.0,0.00,0
2022-03-15,280.350006,287.820007,278.730011,287.149994,34245100.0,0.00,0
2022-03-16,289.109985,294.570007,283.200012,294.390015,37781300.0,0.00,0